@model Clase4_Intro_a_POO.Models.DirectorTecnicoAltaVM
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DT ganador de la batalla de los penales</title>
</head>
<body>
    <div>            
        <div>
            <h1>Listado de los DT ganadores de la fecha!</h1>
            
            <ul>
                <li>@Model.ganador.NombreDeUsuario</li>
            </ul>

        </div>
    </div>
</body>
</html>
