@model Clase4_Intro_a_POO.Models.DirectorTecnicoAltaVM
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lista DT</title>
</head>
<body>
    <div>            
            <div>
                Directores Técnicos:
                <ul name="ListaDT">
                    @foreach (var dt in @Model.DTs)
                    {
                        <li value="@dt.Id">@dt.NombreDeUsuario, @dt.CalcularPuntaje()</li>
                    }
                </ul>
            </div>
    </div>
</body>
</html>
