
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <div>
            <a href="/Jugador/AltaArquero" target="_blank">Alta Arquero</a>
        </div>
        <div>
            <a href="/Jugador/AltaDelantero" target="_blank">Alta Delantero</a>
        </div>
        <div>
            <a href="/DirectorTecnico/Alta" target="_blank">Alta DT</a>
        </div>
        <div>
            <a href="/DirectorTecnico/Todos" target="_blank">Lista DTs</a>
        </div>
        <div>
            <a href="/DirectorTecnico/Ganador" target="_blank">Ganador del premio!</a>
        </div>

    </div>
</body>
</html>
